<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <app-list1></app-list1>
      <hr />
      <app-list2></app-list2>
      <hr />
      <app-list3></app-list3>
      <hr />
      <app-list4></app-list4>
      <hr />
      <app-list5></app-list5>
      <hr />
      <app-table1></app-table1>
      <hr />
      <app-table2></app-table2>
      <hr />
      <app-table3></app-table3>
      <hr />
      <app-table4></app-table4>
      <hr />
      <app-table5></app-table5>
    </div>
  </div>
</div>
