<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <th>Sr.no</th>
        <th>Dessert</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Carbs</th>
        <th>Protein</th>
      </thead>
      <tbody>
        <tr *ngFor="let skill of skillArr; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ skill.Dessert }}</td>
          <td>{{ skill.Calories }}</td>
          <td>{{ skill.Fat }}</td>
          <td>{{ skill.Carbs }}</td>
          <td>{{ skill.Protein }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
